.main {
	background-color: #F5F5F5;
	text-align: center;
	border-radius: 1rem;
	min-height: 30rem;
	max-width: 30rem;
	padding: 2.5rem;

	display: flex;
	gap: 1rem;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.main h1 {
	font-size: 3rem;
}

.main p {
	font-size: 1.35rem;
}

.main .diceContainer {
	margin: 2rem 0;
	display: grid;
	width: 100%;
	grid-template-columns: repeat(auto-fit, minmax(3.5rem, 1fr));
	gap: 1.5rem;
}

.main button {
	background-color: #5035FF;
	box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.3);
	font-size: 1.5rem;
	color: white;
	width: 10rem;
	height: 3rem;
	border: 0;
	border-radius: 0.5rem;
	cursor: pointer;
	margin-top: 2rem;
}

/* @media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {
  .title {
    background: linear-gradient(180deg, #ffffff 0%, #aaaaaa 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }
  .title a {
    background: linear-gradient(180deg, #0070f3 0%, #0153af 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
} */